.Gif{
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 150px;
    min-height: 150px;
    height: 15vw;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.Gif img{
    object-fit: cover;
    height:20vh;
    border-radius: 20px;

}
h4{
    visibility: hidden;
    color: white;
    font-size: 12px;
    margin: 2px;
    position: absolute;
    max-width: 40%;
    text-align: left;
}