.Gif{
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 200px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
}
.Gif img{
    object-fit: cover;
    height:20vh;
}
h4{
    visibility: hidden;
    color: white;
    font-size: 12px;
    margin: 2px;
    position: absolute;
    max-width: 40%;
    text-align: left;
}