


.ListOfGifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.ListOfGifs-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width: 100%;
}
